title = "Watch"
url = "/watch"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Jm\Watch\Models\Watch"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "watch_name"
noRecordsMessage = "No records found"
detailsPage = "watch-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Products</h2>
        <p class="text-white-50">The world’s first GPS solar watch. By connecting to the GPS network, the Astron adjusts
          at the touch of a button to your time zone and, by taking all the energy it
          needs from light alone, never needs a battery change.</p>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="projects-section bg-light">
  <div class="container">
    
    {% for record in records %}

    <!-- Include an referenced anchor tag if available -->
    {% if detailsPage %}
      <a href="{{ detailsPage|page( {(detailsUrlParameter): attribute(record, detailsKeyColumn)} ) }}">
    {% endif %}
    <div class="row align-items-center no-gutters mb-4 mb-lg-5" data-aos="zoom-in-up" data-aos-duration="1500">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="{{ record.watchPic.path }}" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>{{ record.watch_name }}</h4>
          <p class="text-black-50 mb-0">{{ record.watch_description }}</p>
        </div>
      </div>
      
    </div>

    {% if detailsPage %}
        </a>
    {% endif %}

    {% endfor %}
  </div>
</section>